TravelGoodRESTClient/xml-resources/web-service-references/lameduckService/wsdl/localhost_8080/LameDuck/lameduckService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://lameduck.ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://types.fastmoney.imm.dtu.dk" xmlns:ns1="http://lameducktypes" xmlns:ns2="lameducktypes" name="lameduck" targetNamespace="http://lameduck.ws">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://lameducktypes" schemaLocation="http://localhost:8080/LameDuck/lameduckService?xsd=1"/>            
        </xsd:schema>
<!--        <xsd:schema targetNamespace="flightservice">
            <xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankServiceTypes.xsd"/>
            <xsd:complexType name="flight">
                <xsd:sequence>
                    <xsd:element name="origin" type="xsd:string"></xsd:element>
                    <xsd:element name="destination" type="xsd:string"></xsd:element>
                    <xsd:element name="departure" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="arrival" type="xsd:dateTime"></xsd:element>
                    <xsd:element name="carrier" type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="flightInfo">
                <xsd:sequence>
                    <xsd:element name="airlineReservationService" type="xsd:string"></xsd:element>
                    <xsd:element name="price" type="xsd:int"></xsd:element>
                    <xsd:element name="bookingNumber" type="xsd:int"></xsd:element>
                    <xsd:element name="flight" type="tns:flight"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="listOfFlights">
                <xsd:sequence>
                    <xsd:element name="flightInfo" type="tns:flightInfo" minOccurs="0" maxOccurs="unbounded"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="listOfFlights" type="tns:listOfFlights"></xsd:element>
            <xsd:element name="date" type="xsd:dateTime"></xsd:element>
            <xsd:element name="origin" type="xsd:string"></xsd:element>
            <xsd:element name="destination" type="xsd:string"></xsd:element>
            <xsd:element name="request">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:date"/>
                        <xsd:element ref="tns:destination"/>
                        <xsd:element ref="tns:origin"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="requestbookFlight">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="creditCardInfo" type="ns0:creditCardInfoType"></xsd:element>
                        <xsd:element name="bookingNumber" type="xsd:int"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="status" type="xsd:boolean"></xsd:element>
            <xsd:element name="bookFlightFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="message" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="requestcancelFlight">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="bookingNumber" type="xsd:int"></xsd:element>
                        <xsd:element name="price" type="xsd:int"></xsd:element>
                        <xsd:element name="creditCardInfo" type="ns0:creditCardInfoType"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="cancelFlightFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="message" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>-->
    </types>
    <message name="getFlightRequest">
        <part name="input" element="ns1:request"/>
    </message>
    <message name="getFlightResponse">
        <part name="output" element="ns1:listOfFlights"/>
    </message>
    <message name="bookFlightRequest">
        <part name="input" element="ns1:requestbookFlight"/>
    </message>
    <message name="bookFlightResponse">
        <part name="output" element="ns1:status"/>
    </message>
    <message name="bookFlightFault">
        <part name="fault" element="ns1:bookFlightFault"/>
    </message>
    <message name="cancelFlightRequest">
        <part name="input" element="ns1:requestcancelFlight"/>
    </message>
    <message name="cancelFlightResponse">
        <part name="output" element="ns1:status"/>
    </message>
    <message name="cancelFlightFault">
        <part name="fault" element="ns1:cancelFlightFault"/>
    </message>
    <portType name="lameduckPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:getFlightRequest"/>
            <output name="output1" message="tns:getFlightResponse"/>
        </operation>
        <operation name="bookFlight">
            <input name="input2" message="tns:bookFlightRequest"/>
            <output name="output2" message="tns:bookFlightResponse"/>
            <fault name="fault1" message="tns:bookFlightFault"/>
        </operation>
        <operation name="cancelFlight">
            <input name="input3" message="tns:cancelFlightRequest"/>
            <output name="output3" message="tns:cancelFlightResponse"/>
            <fault name="fault1" message="tns:cancelFlightFault"/>
        </operation>
    </portType>
    <binding name="lameduckPortTypeBinding" type="tns:lameduckPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookFlight">
            <soap:operation/>
            <input name="input2">
                <soap:body/>
            </input>
            <output name="output2">
                <soap:body/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1"/>
            </fault>
        </operation>
        <operation name="cancelFlight">
            <soap:operation/>
            <input name="input3">
                <soap:body/>
            </input>
            <output name="output3">
                <soap:body/>
            </output>
            <fault name="fault1">
                <soap:fault name="fault1"/>
            </fault>
        </operation>
    </binding>
    <service name="lameduckService">
        <port name="lameduckPortTypeBindingPort" binding="tns:lameduckPortTypeBinding">
            <soap:address location="http://localhost:8080/LameDuck/lameduckService"/>
        </port>
    </service>
</definitions>