LameDuck/src/java/lameduck.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="lameduck" targetNamespace="flightservice"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="flightservice" xmlns:ns0="http://types.fastmoney.imm.dtu.dk" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://LameDuckTypes">
    <types>
        <xsd:schema targetNamespace="flightservice" xmlns:tns="flightservice">
            <xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://fastmoney.imm.dtu.dk:8080/BankServiceTypes.xsd" />
            <xsd:import namespace="http://LameDuckTypes" schemaLocation="LameDuckTypes.xsd" />
            
        </xsd:schema>
    </types>
    <message name="getFlightRequest">
        <part name="input" element="ns1:request"/>
    </message>
    <message name="getFlightResponse">
        <part name="output" element="ns1:listOfFlights"/>
    </message>
    <message name="bookFlightRequest">
        <part name="input" element="ns1:requestbookFlight"/>
    </message>
    <message name="bookFlightResponse">
        <part name="output" element="ns1:status"/>
    </message>
    <message name="bookFlightFault">
        <part name="fault" element="ns1:bookFlightFault"/>
    </message>
    <message name="cancelFlightRequest">
        <part name="input" element="ns1:requestcancelFlight"/>
    </message>
    <message name="cancelFlightResponse">
        <part name="output" element="ns1:status"/>
    </message>
    <message name="cancelFlightFault">
        <part name="fault" element="ns1:cancelFlightFault"/>
    </message>
    <portType name="lameduckPortType">
        <operation name="getFlights">
            <input name="input1" message="tns:getFlightRequest"/>
            <output name="output1" message="tns:getFlightResponse"/>
        </operation>
        <operation name="bookFlight">
            <input name="input2" message="tns:bookFlightRequest"/>
            <output name="output2" message="tns:bookFlightResponse"/>
            <fault name="fault1" message="tns:bookFlightFault"/>
        </operation>
        <operation name="cancelFlight">
            <input name="input3" message="tns:cancelFlightRequest"/>
            <output name="output3" message="tns:cancelFlightResponse"/>
            <fault name="fault1" message="tns:cancelFlightFault"/>
        </operation>
    </portType>
    <binding name="lameduckPortTypeBinding" type="tns:lameduckPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getFlights">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
            <output name="output1">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="bookFlight">
            <soap:operation/>
            <input name="input2">
                <soap:body/>
            </input>
            <output name="output2">
                <soap:body/>
            </output>
            <fault name="fault1"/>
        </operation>
        <operation name="cancelFlight">
            <soap:operation/>
            <input name="input3">
                <soap:body/>
            </input>
            <output name="output3">
                <soap:body/>
            </output>
            <fault name="fault1"/>
        </operation>
    </binding>
    <service name="lameduckService">
        <port name="lameduckPortTypeBindingPort" binding="tns:lameduckPortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/LameDuckService"/>
        </port>
    </service>
    <plnk:partnerLinkType name="lameduck">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="lameduckPortTypeRole" portType="tns:lameduckPortType"/>
    </plnk:partnerLinkType>
</definitions>
